<% include ../_layout/head.ejs %>
<h1><%= global_title %></h1>
    <p >
       <%= global_title %>은 <br>
        당신에게 프로그래밍 경험을 제공합니다.
    </p>
    
   <body id="clrblk"> 
<br>

<% include ../_layout/foot.ejs %>