<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8;">
		<title><%=global_title%></title>
		<link rel="stylesheet" type="text/css" href="/css/master.css" >
		<link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.1/css/bootstrap.min.css" />
		
		<script language="javascript" src="/js/common.js"></script>
		<script language="javascript" type="text/javascript" src="/js/jquery/jquery-1.7.min.js"></script>
		<script language="javascript" type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
		<script language="javascript" type="text/javascript" src="/js/jquery/jquery.flot.min.js"></script>
		<script language="javascript" type="text/javascript" src="/js/jquery/jquery.min.js"></script>
		

	</head>


<body>
	
		<table width="100%" border=0 cellSpacing=0 cellPadding=0 >
			<tr>
				<td align="left" valign="top" colspan="2">
					<% include topmenu.ejs %>
				</td>		
			</tr>
			<tr>
				
				<td align="center" >
					<table height="400px" width="100%" style="vertical-align:top;"  border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td valign="top" align="left" width="100%">
							