<!-- views/layout/topmenu.ejs -->

 <div class="menubar">
	<ul>
	
	
		<li>
			<a href="/welcome">HOME</a>
		</li>
		  
		  
		<li>
			<a href="/L020D010/mystate">학습현황</a>			
			<ul>
				
															<% if(getTop(user,'L020D010')) { %>		
				<li><a href="/L020D010/my">나의 학습현황</a></li> 			
															<% } %>
															<% if(getTop(user,'L020D020')) { %>		
				<li><a href="/L020D020/list">학습자별 학습현황</a></li> 		
															<% } %>
															<% if(getTop(user,'L020D030')) { %>		
				<li><a href="/L020D030/manage">학습자관리</a></li>			
															<% } %>
			
			</ul>
		</li>						
		
		
<% if(getTop(user,'L030D010')) { %>		
		<li>
			<a href="/L030D010/list">문제은행</a>		
			<ul> 	
				<li><a href="/L030D010/list">문항조회</a></li>
				<li><a href="/L030D020/index">문제등록</a></li>
			</ul>
		</li>
<% } %>
		
		
		<li>
			<a href="/L040D010">PYTHON 학습</a>	
			<ul> 
				<li><a href="/L040D010/index">교재학습</a></li>
				<li><a href="/L040D020/list">단원별 문제풀기</a></li>
				<li><a href="/L040D030/show_result">문제풀이결과 확인</a></li>
			</ul>
		</li>
		
		
		
		<li>
			<a href="/L050D010/take_testset">정규 시험</a>	
			<ul> 

			<% if(getTop(user,'L050D020')) { %>					
				<li><a href="/L050D020/create">정규시험지 작성</a></li>
				<li><a href="/L050D021/list">정규시험지 확인</a></li>
				<li><a href="/L050D020/grade">성적처리 및 확인</a></li>
			<% } %>
			<% if(getTop(user,'L050D010')) { %>			
				<li><a href="/L050D010/exam">정규시험</a></li>
				<li><a href="/L050D010/list">성적확인</a></li>
			<% } %>
			</ul>
		</li>
	</ul>
  </div>

</nav>
